export(ensure_dir)
export(ensure_packages)
export(prepare_lca_data)
export(require_data_file)
export(read_csv_safely)
export(read_csv_chunked)
export(run_lca)
export(run_regression)
export(load_config)
export(validate_config)
export(validate_lca_data)
export(optimal_lca_classes)
export(launch_app)
export(launch_api)
export(parameter_sweep)
export(cross_validate)
export(grid_search)
export(theme_publication)
export(make_interactive)
export(forest_plot)
export(init_logging)
export(log_debug)
export(log_info)
export(log_warn)
export(log_error)
export(set_log_level)
export(set_log_user)
export(log_audit)
export(log_model_metrics)
export(log_performance)
export(collect_diagnostics)
export(variable_network)
export(render_report)
export(format_table)
export(generate_executive_summary)
export(compare_models)
export(assess_data_quality)
export(impute_missing)
export(detect_outliers)
export(handle_outliers)
export(add_interaction_terms)
export(add_polynomial_features)
export(memory_usage)
export(to_sparse_matrix)
export(read_data_source)
export(export_data)
export(run_transform_pipeline)
export(record_data_version)
export(validate_schema)
export(analyze_residuals)
export(goodness_of_fit)
export(bootstrap_ci)
export(kfold_cv)
export(posterior_probabilities)
export(class_assignment_metrics)
export(plot_profiles)
export(lca_stability)
export(db_connect)
export(db_disconnect)
export(db_query)
export(run_etl)
export(record_data_lineage)
export(write_parquet_data)
export(read_parquet_data)
export(auto_select_lca)
export(auto_feature_engineering)
export(select_important_features)
export(train_ensemble)
export(fit_time_series)
export(fit_survival_model)
export(estimate_causal_effect)
export(register_model)
export(validate_model)
export(ab_test_models)
export(detect_model_drift)
export(compute_shap)
export(feature_importance)
export(partial_dependence_data)
export(local_explanation)
export(score_model_api)
export(batch_predict)
export(containerize_model)
export(deploy_model)
export(generate_key)
export(encrypt_data)
export(decrypt_data)
export(save_encrypted_rds)
export(read_encrypted_rds)
export(secure_tempfile)
export(sanitize_input)
export(verify_api_key)
export(rotate_api_key)
export(check_role)
export(validate_oidc_token)
export(check_rate_limit)
export(pseudonymize_data)
export(add_dp_noise)
export(enforce_retention_policy)
export(record_consent)
export(run_secure_api)
export(submit_job)
export(get_job_status)
export(paginate)
export(register_webhook)
export(emit_event)
export(to_fhir_patient)
export(audit_log)
export(track_lineage)
export(init_monitoring)
export(record_metric)
export(monitor_resources)
export(start_trace)
export(end_trace)
export(health_check)
export(send_alert)
export(dashboard_status)
export(plot_interactive)
export(plot_network)
export(plot_geo)
export(plot_timeseries)
export(detect_significance)
export(analyze_trends)
export(detect_anomalies)
export(generate_narrative)
export(calculate_kpis)
export(generate_report)
export(schedule_report)
export(share_report)
export(fit_latent_transition)
export(fit_mixture_covariates)
export(fit_bayesian_lca)
export(fit_multilevel_lca)
export(propensity_stratification)
export(instrumental_variable)
export(fit_instrumental_variable)
export(instrumental_variable_diagnostics)
export(tidy_instrumental_variable)
export(difference_in_differences)
export(fit_group_time_did)
export(tidy_group_time_did)
export(aggregate_group_time_did)
export(did_pretrend_diagnostic)
export(regression_discontinuity)
export(fit_regression_discontinuity)
export(tidy_regression_discontinuity)
export(rd_covariate_balance)
export(rd_density_diagnostic)
export(rd_bandwidth_sensitivity)
export(rd_placebo_cutoffs)
export(fit_competing_risks)
export(tidy_competing_risks)
export(fit_recurrent_events)
export(tidy_recurrent_events)
export(validate_transition_structure)
export(fit_multistate_cox)
export(tidy_multistate_cox)
export(estimate_state_occupation)
export(fit_longitudinal_mixed)
export(tidy_longitudinal_mixed)
export(longitudinal_variance_components)
export(run_delta_sensitivity)
export(find_delta_tipping_point)
export(fit_propensity_design)
export(propensity_overlap)
export(propensity_balance)
export(estimate_propensity_effect)
export(estimate_doubly_robust)
export(fit_time_varying_cox)
export(fit_frailty_cox)
export(landmark_cox)
export(tidy_cox_model)
export(train_rf_missing)
export(train_gbm)
export(train_neural_net)
export(detect_pharmacovigilance)
export(pharmacovigilance_signal)
export(cost_effectiveness)
export(develop_clinical_prediction_rule)
export(fit_clinical_prediction_rule)
export(tidy_clinical_prediction_rule)
export(clinical_prediction_performance)
export(biomarker_discovery)
export(run_mcmc)
export(bayesian_model_averaging)
export(fit_hierarchical_bayes)
export(posterior_predictive_check)
export(select_cohort)
export(match_cohort)
export(power_observational)
export(sample_size_nonrandom)
export(bias_sensitivity)
export(omop_standardize)
export(nlp_extract_concepts)
export(phenotype_diabetes)
export(drug_exposure_summary)
export(active_comparator)
export(confounding_adjust)
export(multiple_treatment_compare)
export(health_outcomes)
export(gvp_compliance)
export(fda_rwe_ready)
export(ema_pico)
export(strobe_compliant)
export(data_completeness)
export(data_validate)
export(detect_outliers_iqr)
export(temporal_consistency)
export(analyze_prom)
export(quality_of_life_index)
export(hrqol_model)
export(patient_preference)
export(case_control_match)
export(cohort_time_to_event)
export(cross_sectional_survey)
export(ecological_spatial_analysis)
export(spatial_cluster_scan)
export(simulate_sir)
export(health_disparity_index)
export(syndromic_surveillance)
export(model_air_pollution)
export(gis_join)
export(disease_map)
export(hash_api_key)
