importFrom(logger,log_debug,log_error,log_info,log_warn)
export(ensure_dir)
export(ensure_packages)
export(prepare_lca_data)
export(require_data_file)
export(read_csv_safely)
export(read_csv_chunked)
export(run_lca)
export(run_regression)
export(load_config)
export(validate_config)
export(optimal_lca_classes)
export(launch_app)
export(launch_api)
export(parameter_sweep)
export(cross_validate)
export(grid_search)
export(theme_publication)
export(make_interactive)
export(forest_plot)
export(variable_network)
export(render_report)
export(format_table)
export(generate_executive_summary)
export(compare_models)
export(assess_data_quality)
export(impute_missing)
export(detect_outliers)
export(handle_outliers)
export(add_interaction_terms)
export(add_polynomial_features)
export(memory_usage)
export(to_sparse_matrix)
export(read_data_source)
export(export_data)
export(run_transform_pipeline)
export(record_data_version)
export(analyze_residuals)
export(goodness_of_fit)
export(bootstrap_ci)
export(kfold_cv)
export(posterior_probabilities)
export(class_assignment_metrics)
export(plot_profiles)
export(lca_stability)
export(init_logging)
export(collect_diagnostics)
export(db_connect)
export(db_disconnect)
export(db_query)
export(run_etl)
export(record_data_lineage)
export(write_parquet_data)
export(read_parquet_data)
export(auto_select_lca)
export(auto_feature_engineering)
export(select_important_features)
export(train_ensemble)
export(fit_time_series)
export(fit_survival_model)
export(estimate_causal_effect)
export(register_model)
export(validate_model)
export(ab_test_models)
export(detect_model_drift)
export(compute_shap)
export(feature_importance)
export(partial_dependence_data)
export(local_explanation)
export(score_model_api)
export(batch_predict)
export(containerize_model)
export(deploy_model)
export(generate_key)
export(encrypt_data)
export(decrypt_data)
export(save_encrypted_rds)
export(read_encrypted_rds)
export(secure_tempfile)
export(sanitize_input)
export(verify_api_key)
export(rotate_api_key)
export(check_role)
export(pseudonymize_data)
export(add_dp_noise)
export(enforce_retention_policy)
export(record_consent)
export(run_secure_api)
export(audit_log)
export(track_lineage)
export(init_monitoring)
export(record_metric)
export(monitor_resources)
export(start_trace)
export(end_trace)
export(health_check)
export(send_alert)
export(dashboard_status)
